NODE_ENV=development

BEAUTY_MONGO_DB_NAME=BeautyStudio
BEAUTY_MONGO_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/BeautyStudio?retryWrites=true&w=majority

PORT_API=3000
PORT_BATCH=3001

SECRET_TOKEN=ljqekfgqieruygfidcshbjh